@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    all: unset;
}

// main style

main {
    background-color: #1C1C1C;

    .jumbotron {
        height: 400px;
        background-image: url(../img/jumbotron.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top, center;
        position: relative;
    }

    .container {
        .mb-t {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 25px 0;
        }

        .Series {
            color: red;
            position: absolute;
            top: 94.5%;
            background-color: white;
            padding: 0.5rem 1.5rem;

            h1 {
                font-size: 25px
            }
        }

        .btn {
            display: flex;
            align-items: center;
            color: red;
            padding-bottom: 1.5rem;

            button {
                background-color: white;
                padding: 1rem 4rem;
                cursor: pointer;
            }
        }
    }
}

// footer style
footer {
    .bg-footer-nav {
        background-color: #0282F9;

        .container-footer {
            width: 72%;
            margin: 0 auto;
            padding: 20px 0;
            display: flex;

            .card {
                width: calc(100% / 5);
                display: flex;
                justify-content: center;
                align-items: center;
                ;

                &:last-child .card-image {
                    margin-right: 10px
                }

                span {
                    width: 50%;
                    font-size: 11px;
                    color: #ffff;
                }
            }
        }
    }

    .middle-footer {
        background: url(../img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;

        .row-footer-middle {
            display: flex;

            .info {
                margin: 2rem 2rem 4rem 0;

                h3 {
                    color: #ffffff;
                    margin: 1rem 0;
                }

                ul {
                    li a {
                        color: #a8aeae;
                        font-size: 13px;
                    }
                }
            }
        }

        .container {
            background: url(../assets/images/dc-logo-bg.png);
            background-repeat: no-repeat;
            background-position: right;
        }
    }

    .bottom-footer {
        background-color: #303030;
        padding: 2rem 0;

        .row-footer-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                border: 2px solid #0282F9;
                padding: 1rem;
                font-size: 20px;
                cursor: pointer;
            }

            .icons {
                width: 33%;
                color: #0282F9;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-size: 17px;
                }

                .icon {
                    img {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
}